diffusers==0.32.2
einops==0.8.1
flash_attn==2.7.4.post1
ftfy==6.3.1
imageio==2.34.0
numpy==1.24.4
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
packaging==25.0
peft==0.14.0
Pillow==11.2.1
regex==2024.11.6
safetensors==0.5.3
torch==2.5.1
torchvision==0.20.1 
torchaudio==2.5.1
transformers==4.47.1
